[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"

[packages]
business-rules = "*"
flask = "*"
pymongo = "*"
ipaddress = "*"
requests = "*"
flask-cors = "*"
flask_mongoengine = "*"
flask_httpauth = "*"

[requires]
python_version = "2.7"
